.btn {
  button {
    background-color: #2677ed;
    padding: 8px 12px;
    text-transform: capitalize;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
}
